@use "src/styles/styles" as style;

.profile-wrapper {
    position: relative;
    height: 100%;
    min-height: 1024px;
    // height: 5000px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    .profile-container {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-bottom: 48px;

        .profile-info {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-bottom: 32px;
            .profile-info-image {
                position: relative;

                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                padding: 15px;
                margin-bottom: 53px;

                .user-background {
                    width: 100%;
                    height: 370px;
                    max-width: 700px;
                    border-radius: 32px;

                    img {
                        border-radius: 32px;
                        box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1),
                            0 2px 4px -2px rgb(0 0 0 / 0.1);
                    }
                }
                .user-avatar {
                    position: absolute;
                    bottom: -45px;

                    transform: translateY(0);

                    display: flex;
                    justify-content: center;
                    align-items: center;

                    width: 125px;
                    height: 125px;
                    border-radius: 100rem;

                    background-color: style.$white;
                    img {
                        border-radius: 100rem;
                        width: 120px;
                        height: 120px;
                        margin: 0;
                    }
                }
            }
            .profile-info-name {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                margin: auto;
                max-width: 50%;
                // width: max-content;

                overflow: hidden;
                text-align: center;

                word-wrap: break-word;
                word-break: break-word;
                white-space: -moz-pre-wrap;
                white-space: pre-wrap;
                h1.full-name {
                    font-size: 32px;
                    font-weight: 600;
                    color: #111;
                }
                .user-name {
                    margin-top: 4px;
                    font-size: 14px;
                    color: #5f5f5f;
                }
            }
            .profile-info-follow {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 8px 0;
                span.dot {
                    padding: 0 4px;
                }
            }
            .profile-info-options {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 28px;
                margin: 8px 0;
                button,
                .edit-profile {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                    // background-color: transparent;

                    padding: 12px 16px;
                    border-radius: 24px;

                    transition-duration: 0.2s;
                    &:hover {
                        background-color: #e9e9e9;
                    }
                }
                .follow {
                    color: style.$white;

                    background-color: #e60023;

                    &:hover {
                        background-color: #ad081b;
                        box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1),
                            0 2px 4px -2px rgb(0 0 0 / 0.1);
                    }
                }
                .followed {
                    color: style.$white;

                    background-color: style.$black;
                    opacity: 0.8;

                    &:hover {
                        opacity: 1;
                        background-color: style.$black;
                    }
                }
                .edit-profile {
                    background-color: #f0f0f0;
                }
            }
        }

        .profile-options {
            position: -webkit-sticky;
            position: sticky;
            top: 78px;
            z-index: 3;

            display: flex;
            justify-content: center;
            gap: 16px;
            background-color: #f5f5f5;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 12px 0px;
            transition: box-shadow 300ms ease-in-out 0s;

            width: 100%;
            padding: 12px 16px 16px;
            .profile-options-btn {
                position: relative;
                width: max-content;
                overflow: hidden;

                .btn {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                    width: max-content;
                    color: #111;
                    background-color: transparent;
                    padding: 8px 12px;
                    border-radius: 8px;
                    &.non-active {
                        &:hover {
                            background-color: #e9e9e9;
                        }
                    }
                }
            }
        }

        .profile-pin {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            .profile-pin-container {
                padding: 8px;
            }
            .no-pin {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

                padding: 44px;
                h2 {
                    font-weight: 600;
                    font-size: 30px;
                    line-height: 36px;
                }
                p {
                    font-size: 16px;
                    font-style: italic;
                }
                .pin-button {
                    padding: 16px;
                    .pin-btn-content {
                        padding: 12px 16px;

                        font-size: 16px;
                        font-weight: 600;
                        border-radius: 100rem;

                        &.create {
                            color: style.$white;
                            background-color: #e60023;
                            &:hover {
                                background-color: #bd001d;
                                box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1),
                                    0 2px 4px -2px rgb(0 0 0 / 0.1);
                            }
                        }

                        &.find {
                            color: #111;
                            background-color: #efefef;
                            &:hover {
                                background-color: #e9e9e9;
                            }
                        }

                        transition-property: all;
                        transition-duration: 0.3s;
                        transition-timing-function: cubic-bezier(
                            0.4,
                            0,
                            0.2,
                            1
                        );
                    }
                }
            }
        }
    }
}
